.Body {
  height: calc(100vh - 6rem);
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.Body label {
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  align-self: flex-start;
}

.Body pre {
  text-align: left;
  width: 100%;
  min-height: 3rem;
  background-color: var(--grey);
  color: white;
  padding: 1em;
  border-radius: 0.5em;
}

.Body pre.error {
  background-color: #cc2936;
  color: #f2c9cc;
  white-space: normal;
}
